.red-border{
    border: 2px solid red;
    margin: 3px;
}
.p1{
    padding: 10px 0px;
}
.m1{
    margin: 5px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.invert{
    filter: invert();
}
.pointer{
    cursor: pointer;
}
.gap{
    gap: 18px;
}
.gapping{
    gap: 6px;
}
.fixed{
    position: fixed;
}
.between{
justify-content: space-between;
}
.rounded{
    border-radius: 7px;
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;              /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #121212;      /* background of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #2a2a2a; /* scrollbar thumb */
  border-radius: 10px;       /* rounded edges */
  border: 2px solid #121212; /* padding look */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;   /* hover effect */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;           /* "auto" or "thin" */
  scrollbar-color: #2a2a2a #121212; /* thumb color | track color */
}
